%article.post-article
  .author
    %h6.author-details
      Written on
      = "#{@post.created_at.strftime('%B %-d, %Y')}."
  %h1.title= @post.title
  = @post.body.html_safe

- if get_blog_config('enable_comments')
  = render 'theme_essay/posts/disqus'

- content_for :page_navigation do
  = render 'theme_essay/layouts/top_bar'
